{% extends 'admin_nav.html' %}
{% block main %}
{%load static %}
<link rel="stylesheet" href="{% static 'user_request.css' %}">
    <head>
        <title>Music School Management System</title>  
    </head>
    <body>
      <div class="container p-5 my-5 border">
        <h1>All students:</h1>
        <div class="mb-3">
            <!-- <p id="count">Total Requests: </p> -->
            <table>
                <tr>
                  <th>ID</th>
                  <th>Full name</th>
                  <th>Email</th>
                </tr>
          {% for i in users %}
                  <tr>
                    <td style ='text-align: center; vertical-align: middle'>{{i.id}}</td>
                    <td style ='text-align: center; vertical-align: middle'>{{i.full_name}}</td>
                    <td style ='text-align: center; vertical-align: middle'>{{i.username}}</td>
                  </tr>
          {% endfor %}
          </table>  
        </div>
    </div>
    </body>
{% endblock %}