{% extends 'nav.html' %}
{% block main %}
    <head>
        <title>Confirm Delete</title>
    </head>
    <body>
        <div class="container p-5 my-5 border">
            <h1>Delete Request </h1>
            <p>Are you sure you want to delete this request?</p>

            <form method ="POST">
            {% csrf_token %}
            <a href = "{% url 'requests_list'%}"> Cancel </a>
            <input type= "Submit" name = "Confirm">
            </form>
        </div>
    </body>
{% endblock %}
