{% extends 'admin_nav.html' %}
{% block main %}
  {%load static %}
  <!-- Link to CSS file-->
  <link rel="stylesheet" href="{% static 'user_request.css' %}">
    <head>
        <title>Music Booking</title>
    </head>
    <div class="container p-5 my-5 border">    
      <div style="overflow-x:auto;">
        <h1>Incoming transactions</h1>
        <table>
          <tr>
            <th>Student</th>
            <th>Amount owed</th>
            <th>Invoice Posted</th>
          </tr>
                {%for i in invoices%}
                    <tr>
                      <td style ='text-align: left; vertical-align: middle'>{{i.request.user}}</td>
                      <td style ='text-align: left; vertical-align: middle'>£{{i.cost}}</td>
                      <td style ='text-align: left; vertical-align: middle'>{{i.date}}</td>
                    </tr>
                {%endfor%}
          <tr>

        </table>
      </div>
      

{% endblock %}