{% extends 'admin_nav.html' %}
{% block main %}
    <head>
        <title>Music School Management System</title>  
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial scale=1"/>
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    -->
    </head>
    <body>
        <div class="container p-5 my-5 border">
            <div class="mb-3">
                <h1>Search for an Admin User:</h1>
            </div>
            <form action="{% url 'edit_delete_admin' %}" method="get">
                <input name="q" type="text" placeholder="Admin username...">
                <button type="submit">Search</button>
            </form>
            <div class="mb-3">
                <a class="btn btn-outline-primary" id="view_all_button" href='{% url 'edit_delete_admin' %}'>View all admin</a>  
            </div>
        </div>
    </body>
{% endblock %}