<html>
    <head>
        <title>Music School Management System</title>  
    </head>
    <body>
        <h1>Edit term</h1>
        <div>
            <table>
                <tr>
                  <th>Term Number</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                </tr>
          {% for i in terms %}
                  <tr>
                    <td style ='text-align: center; vertical-align: middle'>{{i.term_number}}</td>
                    <td style ='text-align: center; vertical-align: middle'>{{i.start_date}}</td>
                    <td style ='text-align: center; vertical-align: middle'>{{i.end_date}}</td>
                    <td><a class = "btn btn-sm btn-info" href="{% url 'edit_term' i.id %}"> Edit</a></td>
                    <td><a class = "btn btn-sm btn-info" href="{% url 'term_confirm_delete' i.id %}"> Delete</a></td>
                  </tr>
          {% endfor %}
          </table>  
          <a class="btn btn-outline-primary" id="home_button" href='{% url 'admin_home' %}'>Home</a>
        </div>
    </body>
</html>